.App header nav {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #4e4edf;
}

.App header nav .nav-item {
  text-align: center;
  padding: 0.25rem;
  cursor: pointer;
}

.App header nav .nav-item:hover {
  background-color: #6868e4;
}


.App header nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFF;
}

.App main {
  min-height: 100vh;
  height: 100vh;
}